@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.8;
}

.titlebox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.orderbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.orderbox-title {
    margin-top: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    background-color: #243065;
    color: #fff;
    font-size: 16px;
}

.orderbox-title > label {
    line-height: 1;
    margin-bottom: 10px;
}

.orderbox > img {
    max-height: 210px;
}

.orderbox-price {
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 5px;
    color: #408C4C;
    width: 150px;
}

.signjoa-section {
    background-color: #eee;
}

.signjoa-row {
    margin-bottom: 30px;
}

.p-title {
    color: #213069;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 60px;
    margin-top: 50px;
}

.p-title::after{
    position: absolute;
    content: "";
    background: #0e8e44;
    width: 50px;
    height: 3px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -10px;
}

.p-text {
    max-width: 620px;
    margin: auto;
    color: #353535;
    margin-bottom: 15px;
}
ul.list-point { list-style: none; }
ul.list-point li::before {
    content: "\2713";
    color: blue;
    font-weight: bold;
    padding-right: 10px;
}
ul.list-point li span, ul.list-point p {
    color: #0e8e44;
}

.order-install-btn a, .order-install-btn a:hover {
    background: #ff0000;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 50px;
    display: inline-block;
    text-decoration: none;
}

.product-card {
    height: 330px;
    border-radius: 5px;
    border: 1px solid #999;
}

#footer-wrap {
    margin: 0;
    text-align: center;
    border-top: 0px;
    background: url(./images/footer.png) no-repeat bottom;
    font-size: 16px;
}

#footer-widgets .widget {
    margin-bottom: 1.5em;
    font-size: 0.9em;
}

#footer-widgets {
    padding: 150px 0 30px;
}

.widget p {
    margin-bottom: 1em;
    color: #fff;
}